<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="specFlow"
      type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Invoices.Specs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <specFlow>
    <unitTestProvider name="MsTest" />
  </specFlow>
  <applicationSettings>
    <Invoices.Specs.Properties.Settings>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://localhost/Invoices</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>CES</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>c97jxsq8</value>
      </setting>
    </Invoices.Specs.Properties.Settings>
  </applicationSettings>
</configuration>